/* NAVEGACION */
nav{
    background-color: #669e37;
    border-bottom: 4px solid black;
}
nav ul{
    background-color: #669e37;
    margin: 0 30px;
    list-style: none;
    display: flex; /**/
}
nav a{
    text-decoration: none;
    color: black;
    display: block; /**/
    background-color: #669e37;
    padding: 12px 20px;
    font-family: Bahnschrift;
}
nav a:hover{
    color: white;
    background-color: #004c8c;
    border-radius: 4px;
}
